<include src="./collapsible.html" title="diseña" icon="fa-object-ungroup"> </include>

<h3 class="colortext">colores</h3>

<fieldset class="content-design">
    <label class="design__option-label">
        <input type="radio" name="palette" class="design__option-radio" value="1" checked />
        <ul class="palette-1">
            <li class="design__option-color color-1"></li>
            <li class="design__option-color color-2"></li>
            <li class="design__option-color color-3"></li>
        </ul>
    </label>
    <label class="design__option-label">
        <input type="radio" name="palette" class="design__option-radio" value="2" />
        <ul class="palette-2">
            <li class="design__option-color color-4"></li>
            <li class="design__option-color color-5"></li>
            <li class="design__option-color color-6"></li>
        </ul>
    </label>
    <label class="design__option-label">
        <input type="radio" name="palette" class="design__option-radio" value="3" />
        <ul class="palette-3">
            <li class="design__option-color color-7"></li>
            <li class="design__option-color color-8"></li>
            <li class="design__option-color color-9"></li>
        </ul>
    </label>
</fieldset>