<main class="main">
    <img class="main__image" src="./assets/images/logo-awesome-profile-cards.svg" alt="logotipo"
        title="Awesome profile cards"></img>
    <h1 class="main__title">Crea tu tarjeta de visita</h1>
    <p class="main__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    <section class="main__section">
        <div class="main__section--icon"><i class="far fa-object-ungroup"></i>Diseña</div>
        <div class="main__section--icon"><i class="far fa-keyboard"></i>Rellena</div>
        <div class="main__section--icon"><i class="fas fa-share-alt"></i>Comparte</div>
    </section>
    <button class="main__button" type="button">Comenzar</button>
</main>