<section class="container1">
    <button class="button_reset" type="button">
        <i class="fa fa-trash" aria-hidden="true"></i>reset
    </button>
    <div class="card">
        <div class="card_header">
            <div class="rectangle"></div>
            <div class="name_job">
                <div class="name">bill murray</div>
                <div class="job">front-end developer</div>
            </div>
        </div>
        <div class="card_image"></div>
        <div class="logos">
            <div class="icon"><a href="tel:555555555" class="link1"><i class="fas fa-mobile-alt"></i></a></div>
            <div class="icon"><a href="mailto:kate.quillen@gmail.com" class="link1"><i class="far fa-envelope"></i></a></div>
            <div class="icon"><a href="https://www.imdb.com/name/nm0000195/" class="link1"><i class="fab fa-linkedin-in"></i></a></div>
            <div class="icon"><a href="https://github.com/Adalab/project-promo-m-module-2-team-4" class="link1"><i class="fab fa-github-alt"></i></a></div>
        </div>
    </div>
</section>