<section class="container1">

    <button class="button_reset" type="button">
        <i class="fa fa-trash" aria-hidden="true"></i>reset
    </button>
    <div class="card">
        <div class="info_wrapper">
            <div class="name">bill murray</div>
            <div class="job">front-end developer</div>
        </div>
            <img src="https://www.fillmurray.com/240/200" alt="Bill Murray" title="Bill Murray" class="bill"></img>
            <div class="logos">
                <span class="icon_mobile">
                    <i class="fa fa-mobile" aria-hidden="true"></i></i>
                </span>
                <span class="icon_email">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i></i>
                </span>
                <span class="icon_linkedin">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </span>
                <span class="icon_github">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                </span>
            </div>
    </div>
</section>
