<section class="container1">
    <button class="button_reset" type="button">
        <i class="fa fa-trash" aria-hidden="true"></i>reset
    </button>
    <div class="card">
        <div class="name">bill murray</div>
        <div class="job">front-end developer</div>
        <img src="https://www.fillmurray.com/240/200" alt="Bill Murray" title="Bill Murray" class="bill"></img>
        <div class="logos">
            <div class="icon">
                <i class="fa fa-mobile" aria-hidden="true"></i>
            </div>
            <div class="icon">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>
            <div class="icon">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
            <div class="icon">
                <i class="fa fa-github-alt" aria-hidden="true" id="icon"></i>
            </div>
        </div>
    </div>
</section>
