.collapsible {
  display: inline;
  &__icon {
    width: 10px;
    color: $colorTitle;
  }
  &__icon2 {
    width: 3px;
    height: 3px;
  }
  &__title {
    font-family: "open-sans", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
  }
}
