.personal-data {
  display: flex;
  flex-direction: column;
}
.button {
  background-color: $colorTitle;
  color: white;
  display: inline;
}
.label {
  color: $colorText;
  font-size: 14px;
  line-height: 20px;
}
.input {
  border: solid $colorpalette3;
  &::placeholder {
    color: #c5c5c5;
  }
}
