.main {
  background-color: $colorBackground;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__image {
    width: 250px;
    margin-bottom: 35px;
  }
  &__title {
    color: $colorTitle;
    font-family: $fontTitle;
    font-size: 20px;
  }
  &__text {
    color: $colorText;
    font-size: 13px;
    font-family: $fontText;
    text-align: center;
    padding-left: 28px;
    padding-right: 28px;
    line-height: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  &__section {
    display: flex;
    flex-direction: row;
    width: 268px;
    height: 73.8px;
    border: solid 1px $colorTitle;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
  }
  &__section-box {
    text-align: center;
    width: 60px;
    &--icon {
      color: $colorTitle;
      font-size: 22px;
      padding-bottom: 5px;
    }
    &--text {
      font-size: 13px;
      font-family: $fontText;
    }
  }
  &__button {
    background-color: $colorbutton;
    border: none;
    border-radius: 21px;
    padding: 10px 20px;
    text-decoration: none;

    &--link {
      text-decoration: none;
      color: white;
      font-size: 16px;
      font-family: $fontText;
      font-weight: 600;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      padding: 10px 20px;
    }
  }
  @media (min-width: 768px) {
    &__image {
      width: 419px;
    }
    &__title {
      font-size: 24px;
    }
    &__text {
      font-size: 16px;
    }
    &__section {
      width: 325px;
      height: 86px;
      border: solid 2px $colorTitle;
      margin-bottom: 186px;
    }
  }
}
