.main {
  background-color: $colorBackground;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__image {
    width: 250px;
    margin-bottom: 35px;
  }
  &__title {
    color: $colorTitlte;
    font-family: $fontTitle;
    font-size: 20px;
  }
  &__text {
    color: $colorText;
    font-size: 13px;
    font-family: $fontText;
    text-align: center;
    padding-left: 28px;
    padding-right: 28px;
    line-height: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  &__section {
    display: flex;
    flex-direction: row;
    width: 268px;
    height: 73.8px;
    border: solid 1px $colorTitlte;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
}
