.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 457px;
  background-image: linear-gradient(#bfcdd0, #dde9ed);
}

.button_reset {
  display: flex;
  height: 30px;
  width: 75px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-right: 165px;
  margin-top: 38px;
  justify-content: space-evenly;
  align-items: center;
  color: #54585a;
  border: solid #ffffff 1px;
  border-radius: 15px;
  background: none;
}

.card {
  display: flexbox;
  width: 240px;
  height: 329px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.35);
  text-align: left;
  align-items: center;
  background-color: white;
  line-height: 20px;
  font-family: $fontCard;
}

.name {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  color: #114e4e;
  padding-left: 20px;
  padding-top: 21px;
  padding-bottom: 4px;
}

.job {
  color: #54585a;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.job:first-letter {
  text-transform: capitalize;
}

.bill {
  padding-left: none;
}
.card_bottom {
  display: flex;
  flex-direction: row;
  line-height: 54px;
  vertical-align: middle;
}

.logos {
  display: flex;
  flex-direction: row;
  height: 32px;
  width: 32px;
  margin-left: 20px;
  border: solid 2px #a2deaf;
  border-radius: 30px;
  margin-right: 10px;
}

.icon {
  color: #114e4e;
  transform: translate(4px, -11px);
}
