.container1 {
  display: flex;
  flex-direction: column;
  height: 457px;
  background-image: linear-gradient(#bfcdd0, #dde9ed);
  color: red;
}

.button_reset {
  display: flex;
  height: 30px;
  width: 75px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
  justify-content: space-evenly;
  align-items: center;
  color: #54585a;
  border: solid #ffffff 1px;
  border-radius: 15px;
  background: none;
}

.card {
  width: 240;
  height: 329;
  background-color: white;
  font-family: $fontCard;
  box-shadow: blur 5, 5, 5, 5 rgba(0, 0, 0, 0.2);
}

.name {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}

.job:first-letter {
  text-transform: capitalize;
  font-size: 16px;
}
